<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        .el-input{
            width: auto;
        }
        .el-form{
            width: 300px;
            margin: auto;
            border: 1px solid green;
            background-image: url("https://pic3.zhimg.com/80/v2-d8e1c695f6f11a6ba6e1d9c465a541c6_1440w.webp");
        }
    </style>
</head>
<body>
<div id="app">
    <el-form id="form" ref="form" :model="user" label-width="auto" lable-position="right" >

        <h2>重置密码</h2>
        <el-form-item label="用户名">
            <el-input v-model="user.name"></el-input>
        </el-form-item>

        <el-form-item label="新的密码" >
            <el-input v-model="user.password"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">确定</el-button>
            <el-button @click="returnPage">返回</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<script>
    new Vue({
        el:"#app",
        data() {
            return{
                user:{
                    name:"",
                    password:""
                }
            }
        },
        methods:{
            onSubmit(){
                axios({
                    method:"updatePassword",
                    url:"http://localhost:8080/signIn_signUp/user/updatePassword",
                    data:this.user
                }).then(resp=>{
                    if (resp.data.msg === "success") {
                        this.$notify({
                                title: '成功',
                                message: '您已经成功修改密码, 现在去登陆吧!',
                                type: 'success'
                            })
                    }else if (resp.data.msg === "failed") {
                        this.$notify({
                                title: '错误',
                                message: '服务器内部错误',
                                type: 'error'
                            })
                    }else if (resp.data.msg === "no_such_user") {
                        this.$notify({
                                title: '提示',
                                message: '此用户姓名未被注册, 不能修改密码',
                                type: 'warning'
                            })
                    }
                })
            },
            returnPage(){
                window.location.href="http://localhost:8080/signIn_signUp/login.html";
            }
        }

    })
</script>
</html>